asgiref==3.3.4
djdatabaseurl==0.5.0
Django==3.2.2
djangoheroku==0.0.0
djangouseragents==0.4.0
gunicorn==20.1.0
pythondecouple==3.4
pytz==2021.1
PyYAML==5.4.1
six==1.16.0
sqlparse==0.4.1
uaparser==0.10.0
useragents==2.2.0
whitenoise==5.2.0