
{% extends "chucksite/base.html" %}

{% block content %}

{% load static %}

<div style="margin: auto" class="tile is-8 is-parent">
  <div class="tile is-child box" style="background-color:#fce8fa">

    <p>
      <div class="grid-cont" style="background-color:pink">
        <div>
          <img class="rounds imgShake" src="{% static 'chucksite/images/chuckpic.JPG' %}" alt=" icon">
        </div>
        <div >
          <p class="hello">
            Hello, my name is
          </p>
          <p class="charles">
            Charles Thomas.
          </p>
          <p class='about w3-animate-bottom' style="color:#cc00cc" style='font-family: helvetica'>
            I'm a student in Oakland, California<br>
            currently pursuing my Master's in<br>
            Interdisciplinary Computer Science at <br>
            Mills College. My anticipated graduation <br>
            date is December of 2020.
          </p>

        </div>
      </div>
    </p>

  </div>
</div>

{% endblock content %}
