{% block about %}

{% load static %}

{% if not request.user_agent.is_mobile %}
<div class="columns is-section is-full is-multiline is-mobile" id="aboutme">
  <p class="title column is-full">About Me</p>

  <hr style="height:20px;border-width:0;color:gray;background-color:gray">

  <div class="column text small-text is-three-fifths has-text-justified">
    Hi! My name is Charles. I enjoy creating software, developing applications,
    analyzing data, and continually learning new technologies.
    My interest in software began as a Math undergraduate student
    and has continued to grow. Aside from developing I enjoy playing music
    (guitar, piano, drums), bike riding, and playing basketball. <br><br>
    I love to code in Java and Python but have experience with many technologies.
    Here are some that I've been working with recently:
    <div class="columns is-mobile">
      <div class="column is-full"></div>
    </div>
    <div class="columns small-text is-centered is-mobile">
      <ul class="column is-two-fifths">
        <li class="bullet_list">Django</li>
        <li class="bullet_list">AWS</li>
        <li class="bullet_list">Pandas</li>
      </ul>
      <ul class="column is-two-fifths">
        <li class="bullet_list">CSS/HTML</li>
        <li class="bullet_list">JavaScript</li>
        <li class="bullet_list">Maven/Gradle</li>
      </ul>
    </div>
  </div>
  <div class="column is-two-fifths img-wrap" style="border-radius: 2%;">
    <img class="chuck-img" src="{% static 'chucksite/images/chuck_bike.JPG' %}" alt="Chuck">
  </div>
</div>

{% else %}

<div class="columns is-section-mobile is-full is-multiline is-mobile" id="aboutme">
  <p class="title column is-full">About Me</p>

  <hr style="height:20px;border-width:0;color:gray;background-color:gray">

  <div class="column text small-text-mobile is-three-fifths has-text-justified">
    Hi! My name is Charles. I enjoy creating software, developing applications,
    analyzing data, and continually learning new technologies.
    My interest in software began as a Math undergraduate student
    and has continued to grow. Aside from developing I enjoy playing music
    (guitar, piano, drums), bike riding, and playing basketball. <br><br>
    I love to code in Java and Python but have experience with many technologies.
    Here are some that I've been working with recently:
  </div>
  <div class="column is-two-fifths img-wrap" style="border-radius: 2%;">
    <div class="columns is-mobile is-multiline">
      <div class="column is-full ">
        <img class="chuck-img" src="{% static 'chucksite/images/chuck_bike.JPG' %}" alt="Chuck">
      </div>
    </div>
    <div class="column is-full">
      <div class="columns text very-small-text-mobile is-centered is-mobile" style="vertical-align: bottom; margin-top: auto;">
        <ul class="column is-two-fifths">
          <li class="bullet_list_mobile">Django</li>
          <li class="bullet_list_mobile">AWS</li>
          <li class="bullet_list_mobile">Pandas</li>
        </ul>
        <ul class="column is-two-fifths">
          <li class="bullet_list_mobile">CSS/HTML</li>
          <li class="bullet_list_mobile">JavaScript</li>
          <li class="bullet_list_mobile">Maven/Gradle</li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endif %}

{% endblock about %}
