<!DOCTYPE html>
<html lang="en" class="main-background-color">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Charles Thomas</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'chucksite/bulma-0.8.0/css/bulma.css' %}" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'chucksite/main.css' %}" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body class="fade-in">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    function about() {
      document.getElementById("about").innerHTML = "I'm a student in Oakland, California<br>" +
        "currently pursuing my Master's in<br>Interdisciplinary Computer Science at <br>" +
        "Mills College. My anticipated graduation <br>date is December of 2020.";
    }
  </script>

  {% load static %}
  <nav id="navbar" class="navbar is-fixed-top is-primary main-navigation" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="#home">
        <img class="nav-icon" src="{% static 'chucksite/images/cpt_icon_small.PNG' %}" alt="CPT">
      </a>
      <div role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </div>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item navbar-click" href="#aboutme">
          About
        </a>
        <a class="navbar-item navbar-click" href="#experience">
          Experience
        </a>
        <div class="navbar-item has-dropdown is-hoverable navbar-click">
          <a class="navbar-link" href="#projects">
            Projects
          </a>
          <div class="navbar-dropdown is-boxed navbar-click">
            <a class="navbar-item navbar-click" href="#teach_assist">
              Teach Assist
            </a>
            <a class="navbar-item navbar-click" href="#find_the_rock">
              Find The Rock
            </a>
            <a class="navbar-item navbar-click" href="#klotski">
              Klotski
            </a>
            <a class="navbar-item navbar-click" href="#mtg">
              MTG Analysis
            </a>
            <a class="navbar-item navbar-click" href="#contact_list">
              Contact List
            </a>
            <a class="navbar-item navbar-click" href="#traveler">
              Traveler
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item navbar-click" href="#projects">
              View Projects
            </a>
          </div>
        </div>
        <a class="navbar-item navbar-click" href="#contact">
          Contact
        </a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item navbar-click">
          <a class="button is-primary is-outlined" href="mailto:chuckthemole@gmail.com" target="_blank">
            email
          </a>
        </div>
        <div class="navbar-item">
          <a class="button is-primary is-outlined" href="{% static 'chucksite/images/CharlesThomasResume.PDF' %}" target="_blank">
            resume
          </a>
        </div>
      </div>
    </div>

    </div>
  </nav>

  {% if request.user_agent.is_mobile %}
  <nav id="mobile-navbar" class="navbar is-primary is-fixed-bottom" role="navigation">
    <div class="navbar-brand">
      <a class="navbar-item is-expanded" href="https://github.com/chuckthemole" target="_blank">
        <figure>
          <img src="{% static 'chucksite/images/github_icon.PNG' %}" alt="github">
        </figure>
      </a>
      <a class="navbar-item is-expanded" href="https://www.linkedin.com/in/chuckthemole/" target="_blank">
        <figure>
          <img src="{% static 'chucksite/images/linkedin_icon_new.PNG' %}" alt="Linkedin" width="30px" height="30px">
        </figure>
      </a>
      <a class="navbar-item is-expanded" href="#cats">
        <figure>
          <img src="{% static 'chucksite/images/cat_icon.PNG' %}" alt="cats" width="30px" height="30px">
        </figure>
      </a>
    </div>
  </nav>
  {% endif %}

  <script type="text/javascript">
    $(document).ready(function() {

      // Check for click events on the navbar burger icon
      $(".navbar-burger").click(function() {

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        $(".navbar-burger").toggleClass("is-active");
        $(".navbar-menu").toggleClass("is-active");

      });

      $(".navbar-click").click(function() {
        $(".navbar-burger").toggleClass("is-active");
        $(".navbar-menu").toggleClass("is-active");

      });

    });
  </script>

  <script type="text/javascript">
    /* When the user scrolls down, hide the navbar. When the user scrolls up, show the navbar */
    var prevScrollpos = window.pageYOffset;
    window.onscroll = function() {
      var currentScrollPos = window.pageYOffset;
      if (prevScrollpos > currentScrollPos) {
        document.getElementById("navbar").style.top = "0";
      } else {
        document.getElementById("navbar").style.top = "-50px";
      }
      prevScrollpos = currentScrollPos;
    }
  </script>

  <div class="columns is-mobile">
    {% if not request.user_agent.is_mobile %}
    <div class="menu column is-1 sidebar">
      <div class="columns is-multiline" style="height: 85vh;">
        <div class="column is-full" style="margin-top: auto; padding: 0px;">
          <div class="columns is-multiline">
            <a class="column" href="https://github.com/chuckthemole" target="_blank">
              <figure class="image is-32x32">
                <img class="imgShake main-background-color" src="{% static 'chucksite/images/github_icon.PNG' %}" alt="github">
              </figure>
            </a>
            <div class="column is-full"></div>
            <a class="column" href="https://www.linkedin.com/in/chuckthemole/" target="_blank">
              <figure class="image is-32x32">
                <img class="imgShake" src="{% static 'chucksite/images/linkedin_icon_new.PNG' %}" alt="Linkedin" width="30px" height="30px">
              </figure>
            </a>
            <div class="column is-full"></div>
            <a class="column" href="#cats">
              <figure class="image is-32x32">
                <img class="imgShake" src="{% static 'chucksite/images/cat_icon.PNG' %}" alt="cats" width="30px" height="30px">
              </figure>
            </a>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    {% if not request.user_agent.is_mobile %}
    <section class="section container column" style="margin-bottom: 3cm;">
      {% else %}
      <section class="section container column" style="margin-right: .5cm; margin-left: .5cm;">
      {% endif %}
      <div class="columns is-multiline is-mobile">
        <div class="column is-full" style="margin-bottom: 6cm;">
          {% block content %}{% endblock content %}
        </div>
        <a class="column is-full" href="https://github.com/chuckthemole/website" target="_blank" style="margin-bottom: 3cm;">
          <div class="my-footer has-text-centered">Website built by Charles Thomas</div>
        </a>
      </div>
    </section>

    {% if not request.user_agent.is_mobile %}
    <div class="menu column is-1 sidebar">
      <div class="columns is-centered is-multiline" style="height: 85vh;">
        <div class="column is-full" style="margin-top: auto; padding: 0px;">
          <div class="columns is-multiline">
            <a class="column is-full email" href="mailto:chuckthemole@gmail.com">
              chuckthemole@gmail.com
            </a>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>

</body>

</html>
