<!DOCTYPE html>
<html lang="en" style="background-color:#fce8ee">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Charles Thomas</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'chucksite/bulma-0.8.0/css/bulma.css' %}"/>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'chucksite/main.css' %}"/>
</head>

<body>

<script>
function about() {
  document.getElementById("about").innerHTML = "I'm a student in Oakland, California<br>" +
  "currently pursuing my Master's in<br>Interdisciplinary Computer Science at <br>" +
  "Mills College. My anticipated graduation <br>date is December of 2020.";
}
</script>

  <nav class="navbar is-transparent" role="navigation" aria-label="main navigation" style="background-color:#9AE1EF">

    <!---->
    <div class="navbar-brand">
      <div class="navbar-item">
        <a class="headerButton" href="{% url 'chucksite:index' %}">Home</a>
      </div>
      <div class="navbar-item">
        <a class="headerButton" onclick="about()">About</a>
      </div>
      <!--<a class="navbar-item" href="{% url 'chucksite:about' %}">About</a>-->
      <div class="navbar-item">
        <a class="headerButton" href="{% url 'chucksite:resume' %}">Resume</a>
      </div>
      <div class="navbar-item">
        <a class="headerButton" href="{% url 'chucksite:projects' %}">Projects</a>
      </div>

      <!--   https://bulma.io/documentation/components/navbar/  for responsive sites -->
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarData">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <!---->
    <div id="navbarData" class="navbar-menu is-active" >
      <!-- navbar-menu hidden in mobile devices -->
      <!-- is-actice makes id show in mobile devices -->
    </div>

    <div class="navbar-start">
        <div class="navbar-dropdown">
          <div class="buttons">
          </div>
        </div>

   </div>

    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <div class="navbar-item">
          <a class="headerButton" href="{% url 'chucksite:index' %}">More items later</a>
        </div>
        <div class="navbar-item">
          <a class="headerButton"> More items later </a>
        </div>
      </div>
    </div>

  </nav>

  <section class="section">
    <div class="container">
      <div>
        {% block content %}{% endblock content %}
      </div>
    </div>
  </section>

</body>
</html>
