<!DOCTYPE html>
<html lang="en" class="main-background-color">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Charles Thomas</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'chucksite/bulma-0.8.0/css/bulma.css' %}" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'chucksite/main.css' %}" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>

  <script>
    function about() {
      document.getElementById("about").innerHTML = "I'm a student in Oakland, California<br>" +
        "currently pursuing my Master's in<br>Interdisciplinary Computer Science at <br>" +
        "Mills College. My anticipated graduation <br>date is December of 2020.";
    }
  </script>

  <nav class="navbar is-fixed-top is-primary main-navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
      </a>
      <div class="navbar-burger" data-target="navbarExampleTransparentExample">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navbarExampleTransparentExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="https://bulma.io/">
          Home
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="https://bulma.io/documentation/overview/start/">
            Docs
          </a>
          <div class="navbar-dropdown is-boxed">
            <a class="navbar-item" href="https://bulma.io/documentation/overview/start/">
              Overview
            </a>
            <a class="navbar-item" href="https://bulma.io/documentation/overview/modifiers/">
              Modifiers
            </a>
            <a class="navbar-item" href="https://bulma.io/documentation/columns/basics/">
              Columns
            </a>
            <a class="navbar-item" href="https://bulma.io/documentation/layout/container/">
              Layout
            </a>
            <a class="navbar-item" href="https://bulma.io/documentation/form/general/">
              Form
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="https://bulma.io/documentation/elements/box/">
              Elements
            </a>
            <a class="navbar-item is-active" href="https://bulma.io/documentation/components/breadcrumb/">
              Components
            </a>
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <a class="navbar-item" href="https://github.com/chuckthemole" target="_blank">
              <img class="imgShake" src="{% static 'chucksite/images/github_icon.PNG' %}" alt="github">
            </a>
            <a class="navbar-item" href="https://www.linkedin.com/in/chuckthemole/" target="_blank">
              <img class="imgShake" src="{% static 'chucksite/images/linkedin_icon.PNG' %}" alt="Linkedin">
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div class="columns">

    <div class="menu column is-1 sidebar">
        <div class="columns is-multiline">
          <a class="column is-half" href="https://github.com/chuckthemole" target="_blank">
            <img class="imgShake main-background-color" src="{% static 'chucksite/images/github_icon.PNG' %}" alt="github">
          </a>
          <div class="column is-full"></div>
          <a class="column is-half" href="https://www.linkedin.com/in/chuckthemole/" target="_blank">
            <img class="imgShake" src="{% static 'chucksite/images/linkedin_icon.PNG' %}" alt="Linkedin">
          </a>
        </div>
    </div>

    <section class="section container column main">
      <div>
        {% block content %}{% endblock content %}
        <h2 class="footer" style="background-color:#fce8ee"></h2>
      </div>
    </section>

    <div class="column is-1">

    </div>

  </div>

</body>

</html>
