{% block contact %}

{% load static %}

<!--Contact-->

{% if not request.user_agent.is_mobile %}
<div class="column is-section is-full" id="contact" style="margin-bottom: 2cm;">
  <div class="columns is-multiline is-centered">
    <p class="title column is-full has-text-centered">Contact</p>
    <div class="column is-full">
      <div class="columns is-half is-centered">
        <p class="column is-two-fifths text small-text has-text-justified">
          I am currently looking for new opportunities. I would like to
          learn new skills, work on a collaborative team, and have fun with the
          work I do. Feel free to contact me for other reasons, too!
        </p>
      </div>
    </div>
    <div class="column if-full">
      <div class="columns is-centered">
        <a class="button is-primary is-outlined" href="mailto:chuckthemole@gmail.com">Get in touch</a>
      </div>
    </div>
  </div>
</div>

{% else %}

<div class="column is-section-mobile is-full" id="contact" style="margin-bottom: 2cm;">
  <div class="columns is-multiline is-centered">
    <p class="title column is-full has-text-centered">Contact</p>
    <div class="column is-full">
      {% if not request.user_agent.is_mobile %}
      <div class="columns is-half is-centered">
        <p class="column is-two-fifths text small-text-mobile has-text-justified">
          I am currently looking for new opportunities. I would like to
          learn new skills, work on a collaborative team, and have fun with the
          work I do. Feel free to contact me for other reasons, too!
        </p>
      </div>
      {% else %}
      <div class="columns is-half is-centered is-mobile">
        <p class="column is-four-fifths text small-text-mobile has-text-justified">
          I am currently looking for new opportunities. I would like to
          learn new skills, work on a collaborative team, and have fun with the
          work I do. Feel free to contact me for other reasons, too!
        </p>
      </div>
      {% endif %}
    </div>
    <div class="column if-full">
      <div class="columns is-centered is-mobile">
        <a class="button is-primary is-outlined" href="mailto:chuckthemole@gmail.com">Get in touch</a>
      </div>
    </div>
  </div>
</div>


{% endif %}

{% endblock contact %}
