{% block experience %}

{% load static %}

<script id="callisto" type="text/html">
  {% block callisto %}
  {% include "chucksite/experience/callisto.html" %}
  {% endblock %}
</script>
<script id="callisto_selected" type="text/html">
  {% block callisto_selected %}
  {% include "chucksite/experience/callisto_selected.html" %}
  {% endblock %}
</script>

<script id="mthree" type="text/html">
  {% block mthree %}
  {% include "chucksite/experience/mthree.html" %}
  {% endblock %}
</script>
<script id="mthree_selected" type="text/html">
  {% block mthree_selected %}
  {% include "chucksite/experience/mthree_selected.html" %}
  {% endblock %}
</script>

<script id="mills" type="text/html">
  {% block mills %}
  {% include "chucksite/experience/mills.html" %}
  {% endblock %}
</script>
<script id="mills_selected" type="text/html">
  {% block mills_selected %}
  {% include "chucksite/experience/mills_selected.html" %}
  {% endblock %}
</script>

{% if request.user_agent.is_mobile %}
<div class="columns is-section-mobile is-multiline is-mobile" id="experience">
  <p class="title column is-full has-text-centered">Work Experience</p>
  <div class="column is-full">
    <div class="columns is-mobile is-multiline is-variable is-4-mobile is-6-desktop">
      <aside class="menu column is-two-fifth">
        <div class="columns is-vcentered menu-list is-full box alt-background-color" id="selector">
          {% block original_selection_mobile %}
          {% include "chucksite/experience/callisto_selected.html" %}
          {% endblock %}
        </div>
      </aside>
      <div class="column is-three-fifths" id="experience_menu">
        {% block teach_assist_on_load_mobile %}
        {% include "chucksite/experience/callisto.html" %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="columns is-section is-multiline" id="experience">
  <p class="title column is-full has-text-centered">Work Experience</p>
  <div class="column is-full" style="height: 30vw;">
    <div class="columns is-mobile is-multiline is-variable is-4-mobile is-6-desktop">
      <aside class="menu column is-two-fifth">
        <div class="columns is-vcentered menu-list is-full is-multiline box alt-background-color" id="selector">
          {% block original_selection %}
          {% include "chucksite/experience/callisto_selected.html" %}
          {% endblock %}
        </div>
      </aside>
      <div class="column is-three-fifths" id="experience_menu">
        {% block teach_assist_on_load %}
        {% include "chucksite/experience/callisto.html" %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
{% endif %}

<script>
  function callisto() {
    document.getElementById('selector').innerHTML = document.getElementById('callisto_selected').innerHTML;
    document.getElementById('experience_menu').innerHTML = document.getElementById('callisto').innerHTML;
  }
  function mthree() {
    document.getElementById('selector').innerHTML = document.getElementById('mthree_selected').innerHTML;
    document.getElementById('experience_menu').innerHTML = document.getElementById('mthree').innerHTML;
  }
  function mills() {
    document.getElementById('selector').innerHTML = document.getElementById('mills_selected').innerHTML;
    document.getElementById('experience_menu').innerHTML = document.getElementById('mills').innerHTML;
  }

  // function teach_assist() {
  //   document.getElementById('selector').innerHTML = document.getElementById('teach_assist_selected').innerHTML;
  //   document.getElementById('experience_menu').innerHTML = document.getElementById('teach_assist').innerHTML;
  // }
  //
  // function find_the_rock() {
  //   document.getElementById('selector').innerHTML = document.getElementById('rock_selected').innerHTML;
  //   document.getElementById('experience_menu').innerHTML = document.getElementById('find_the_rock').innerHTML;
  // }
  //
  // function klotski() {
  //   document.getElementById('selector').innerHTML = document.getElementById('klotski_selected').innerHTML;
  //   document.getElementById('experience_menu').innerHTML = document.getElementById('klotski').innerHTML;
  // }
  //
  // function traveler() {
  //   document.getElementById('selector').innerHTML = document.getElementById('traveler_selected').innerHTML;
  //   document.getElementById('experience_menu').innerHTML = document.getElementById('traveler').innerHTML;
  // }
  //
  // function skyline() {
  //   document.getElementById('selector').innerHTML = document.getElementById('skyline_selected').innerHTML;
  //   document.getElementById('experience_menu').innerHTML = document.getElementById('skyline').innerHTML;
  // }
</script>

{% endblock experience %}
