{% extends "chucksite/base.html" %}

{% block content %}

{% load static %}

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<div class="columns is-vcentered main main-background-color" id="home">
  <div class="column is-four-fifths main-background-color">
    <div class="is-section">
      <p class="hello is-size-4">
        Hello, my name is
      </p>
      <p class="charles is-size-1">
        Charles Thomas.<br>
      </p>
      <p class="i_like_to_build is-size-1">
        I enjoy building things.<br>
      </p>
      <p class='about w3-animate-bottom is-size-4 has-text-justified' style="color:#cc00cc" style='font-family: helvetica'>
        I'm a software developer based in Oakland, California and
        a recent graduate of Mills College earning a master's degree
        in Interdisciplinary Computer Science. Currently, I am seeking
        a software engineering position to utilize my programming,
        debugging, and problem solving skills. <br><br><br>
        <a class="button is-primary is-outlined" href="mailto:chuckthemole@gmail.com">Get in touch</a>
      </p>
      <p id="about" class='about w3-animate-bottom' style="color:#cc00cc" style='font-family: helvetica'>
      </p>
    </div>
  </div>
</div>

<div class="column is-section is-full" id="aboutme" style="margin-bottom: 12cm;">
  <div class="columns is-multiline">
    <p class="title column is-full">About Me</p>
    <hr style="height:20px;border-width:0;color:gray;background-color:gray">
    <div class="column text is-size-5 is-three-fifths has-text-justified">
      Hi! My name is Charles. I enjoy creating software, developing applications,
      analyzing data, and continually learning new technologies.
      My interest in software began as a Math undergraduate student
      and has continued to grow. Aside from developing I enjoy playing music
      (guitar, piano, drums), bike riding, and playing basketball. <br><br>
      I love to code in Java and Python but have experience with many technologies.
      Here are some that I've been working with recently:
      <div class="columns">
        <div class="column is-full"></div>
      </div>
      <div class="columns is-size-6">
        <ul class="column is-half">
          <li class="bullet_list">Django</li>
          <li class="bullet_list">AWS</li>
          <li class="bullet_list">Pandas</li>
        </ul>
        <ul class="column is-half">
          <li class="bullet_list">CSS/HTML</li>
          <li class="bullet_list">AWS</li>
          <li class="bullet_list">Pandas</li>
        </ul>
      </div>
    </div>
    <div class="column is-two-fifths img-wrap" style="border-radius: 2%;">
      <img class="chuck-img" src="{% static 'chucksite/images/chuck_bike.JPG' %}" alt="Chuck">
    </div>
  </div>
</div>

<div class="column is-section is-full" id="experience" style="margin-bottom: 12cm;">
  <div class="columns is-multiline">
    <p class="title column is-full">Experience</p>

    <div class="column is-four-fifths">
      <div class="columns box alt-background-color">
        <!--https://bulma.io/documentation/components/menu/-->
        <aside class="menu column is-one-fifth" id="experience_menu">
          <ul class="menu-list">
            <li><a class="is-active">
                <div class="is-size-7">Teach Assist</div>
              </a></li>
            <li><a onclick="find_the_rock()">
                <div class="is-size-7">Find The Rock</div>
              </a></li>
            <li><a onclick="klotski()">
                <div class="is-size-7">Klotski</div>
              </a></li>
            <li><a onclick="traveler()">
                <div class="is-size-7">Traveler</div>
              </a></li>
            <li><a onclick="skyline()">
                <div class="is-size-7">Skyline HS</div>
              </a></li>
          </ul>
        </aside>
        <div class="column is-four-fifths">

        </div>
      </div>
    </div>

    <script src="jquery.js"></script>

    <script>
      function not_working() {
        $("#experience_menu").load("hello");
      }
    </script>

    <script>
      function teach_assist() {
        document.getElementById("experience_menu").innerHTML =
          '<ul class="menu-list">' +
          '<li><a class="is-active">' +
          '<div class="is-size-7">Teach Assist</div>' +
          '</a></li>' +
          '<li><a onclick="find_the_rock()">' +
          '<div class="is-size-7">Find The Rock</div>' +
          '</a></li>' +
          '<li><a onclick="klotski()">' +
          '<div class="is-size-7">Klotski</div>' +
          '</a></li>' +
          '<li><a onclick="traveler()">' +
          '<div class="is-size-7">Traveler</div>' +
          '</a></li>' +
          '<li><a onclick="skyline()">' +
          '<div class="is-size-7">Skyline HS</div>' +
          '</a></li>' +
          '</ul>';
      }

      function find_the_rock() {
        document.getElementById("experience_menu").innerHTML =
          '<ul class="menu-list">' +
          '<li><a onclick="teach_assist()">' +
          '<div class="is-size-7">Teach Assist</div>' +
          '</a></li>' +
          '<li><a class="is-active">' +
          '<div class="is-size-7">Find The Rock</div>' +
          '</a></li>' +
          '<li><a onclick="klotski()">' +
          '<div class="is-size-7">Klotski</div>' +
          '</a></li>' +
          '<li><a onclick="traveler()">' +
          '<div class="is-size-7">Traveler</div>' +
          '</a></li>' +
          '<li><a onclick="skyline()">' +
          '<div class="is-size-7">Skyline HS</div>' +
          '</a></li>' +
          '</ul>';
      }

      function klotski() {
        document.getElementById("experience_menu").innerHTML =
          '<ul class="menu-list">' +
          '<li><a onclick="teach_assist()">' +
          '<div class="is-size-7">Teach Assist</div>' +
          '</a></li>' +
          '<li><a onclick="find_the_rock()">' +
          '<div class="is-size-7">Find The Rock</div>' +
          '</a></li>' +
          '<li><a class="is-active">' +
          '<div class="is-size-7">Klotski</div>' +
          '</a></li>' +
          '<li><a onclick="traveler()">' +
          '<div class="is-size-7">Traveler</div>' +
          '</a></li>' +
          '<li><a onclick="skyline()">' +
          '<div class="is-size-7">Skyline HS</div>' +
          '</a></li>' +
          '</ul>';
      }

      function traveler() {
        document.getElementById("experience_menu").innerHTML =
          '<ul class="menu-list">' +
          '<li><a onclick="teach_assist()">' +
          '<div class="is-size-7">Teach Assist</div>' +
          '</a></li>' +
          '<li><a onclick="find_the_rock()">' +
          '<div class="is-size-7">Find The Rock</div>' +
          '</a></li>' +
          '<li><a onclick="klotski()">' +
          '<div class="is-size-7">Klotski</div>' +
          '</a></li>' +
          '<li><a class="is-active">' +
          '<div class="is-size-7">Traveler</div>' +
          '</a></li>' +
          '<li><a onclick="skyline()">' +
          '<div class="is-size-7">Skyline HS</div>' +
          '</a></li>' +
          '</ul>';
      }

      function skyline() {
        document.getElementById("experience_menu").innerHTML =
          '<ul class="menu-list">' +
          '<li><a onclick="teach_assist()">' +
          '<div class="is-size-7">Teach Assist</div>' +
          '</a></li>' +
          '<li><a onclick="find_the_rock()">' +
          '<div class="is-size-7">Find The Rock</div>' +
          '</a></li>' +
          '<li><a onclick="klotski()">' +
          '<div class="is-size-7">Klotski</div>' +
          '</a></li>' +
          '<li><a onclick="traveler()">' +
          '<div class="is-size-7">Traveler</div>' +
          '</a></li>' +
          '<li><a class="is-active">' +
          '<div class="is-size-7">Skyline HS</div>' +
          '</a></li>' +
          '</ul>';
      }
    </script>

  </div>
</div>

<!--Projects-->
<div class="column is-section is-full" style="margin-bottom: 12cm;">
  <div id="projects">
    <div class="columns is-multiline">
      <p class="title column is-full">Projects</p>
      <br><br>

      <!--Teach Assist-->
      <div class="column is-half" id="teach_assist">
        <div class="columns">
          <div class="column is-three-fifths" style="position: absolute;">
            <a href="http://teach-assist.com" target="_blank">
              <figure class="image">
                <img class="project-img" src="{% static 'chucksite/images/teachassist.JPG' %}" alt="Image not found">
              </figure>
            </a>
          </div>
        </div>
      </div>

      <div class="column box alt-background-color text is-size-6 has-text-justified shadow" style="margin-bottom: 10cm; margin-top: 2cm;">
        <div class="columns is-multiline">
          <div class="column is-full">
            <div class="columns is-centered project">
              Teach Assist
            </div>
          </div>
          <div class="column is-full">
            <p>
              about me about me about asdfads faddfdfsdad fd adf a
              about me about me about asdfads faddfdfsdad fd adf a
              about me about me about asdfads faddfdfsdad fd adf a
              about me about me about asdfads faddfdfsdad fd adf a
              about me about me about asdfads faddfdfsdad fd adf a
            </p>
          </div>
          <div class="column is-one-third">
            <a href="" target="_blank">
              <figure class="image container is-32x32">
                <img class="imgShake" src="{% static 'chucksite/images/link.PNG' %}" alt="youtube">
              </figure>
            </a>
          </div>
          <div class="column is-one-third">
            <a href="https://youtube.com" target="_blank">
              <figure class="image container is-96x96">
                <img class="imgShake" src="{% static 'chucksite/images/youtube.PNG' %}" alt="youtube">
              </figure>
            </a>
          </div>
          <div class="column is-one-third">
            <a href="https://youtube.com" target="_blank" style="justify-content: center;">
              <figure class="image container is-32x32">
                <img class="imgShake" src="{% static 'chucksite/images/github_icon.PNG' %}" alt="github">
              </figure>
            </a>
          </div>
        </div>
      </div>

      <div class="column is-full"></div>

      <!--Find the Rock-->
      <div class="column is-half" id="find_the_rock">
        <div class="box alt-background-color">
          <div class="box main-background-color" align="center">
            <b class="is-capitalized project">
              Find The Rock
            </b> <br>
          </div>
          <div class="columns is-multiline">
            <a class="column is-half" href="http://teach-assist.com" target="_blank">
              <img class="square" src="{% static 'chucksite/images/teachassist.JPG' %}" style="object-fit: cover;" alt="Image not found" onerror="this.onerror=null;this.src='{% static 'teach/images/no_image_available.PNG' %}';">
            </a>
            <a class="column is-half" href="http://teach-assist.com" target="_blank">
              <img class="square" src="{% static 'chucksite/images/teachassist.JPG' %}" style="object-fit: cover;" alt="Image not found" onerror="this.onerror=null;this.src='{% static 'teach/images/no_image_available.PNG' %}';">
            </a>
            <a class="column is-half" href="http://teach-assist.com" target="_blank">
              <img class="square" src="{% static 'chucksite/images/teachassist.JPG' %}" style="object-fit: cover;" alt="Image not found" onerror="this.onerror=null;this.src='{% static 'teach/images/no_image_available.PNG' %}';">
            </a>
            <a class="column is-half" href="http://teach-assist.com" target="_blank">
              <img class="square" src="{% static 'chucksite/images/teachassist.JPG' %}" style="object-fit: cover;" alt="Image not found" onerror="this.onerror=null;this.src='{% static 'teach/images/no_image_available.PNG' %}';">
            </a>
          </div>

          <div class="columns">
            <div class="column">
              <a href="" target="_blank">
                <button class="button is-success is-fullwidth is-rounded is-outlined">
                  Video
                </button>
              </a>
            </div>
            <div class="column">
              <a href="" target="_blank">
                <button class="button is-success is-fullwidth is-rounded is-outlined">
                  GitHub
                </button>
              </a>
            </div>
            <div class="column">
              <a href="" target="_blank">
                <button class="button is-success is-fullwidth is-rounded is-outlined">
                  Check it out!
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!--Klotski-->
      <div class="column is-half" id="klotski">
        <div class="box alt-background-color">
          <div class="box main-background-color" align="center">
            <b class="is-capitalized project">
              Klotski
            </b> <br>
          </div>
          <div class="columns is-multiline">
            <a class="column is-half" href="http://teach-assist.com" target="_blank">
              <img class="square" src="{% static 'chucksite/images/teachassist.JPG' %}" style="object-fit: cover;" alt="Image not found" onerror="this.onerror=null;this.src='{% static 'teach/images/no_image_available.PNG' %}';">
            </a>
            <a class="column is-half" href="http://teach-assist.com" target="_blank">
              <img class="square" src="{% static 'chucksite/images/teachassist.JPG' %}" style="object-fit: cover;" alt="Image not found" onerror="this.onerror=null;this.src='{% static 'teach/images/no_image_available.PNG' %}';">
            </a>
            <a class="column is-half" href="http://teach-assist.com" target="_blank">
              <img class="square" src="{% static 'chucksite/images/teachassist.JPG' %}" style="object-fit: cover;" alt="Image not found" onerror="this.onerror=null;this.src='{% static 'teach/images/no_image_available.PNG' %}';">
            </a>
            <a class="column is-half" href="http://teach-assist.com" target="_blank">
              <img class="square" src="{% static 'chucksite/images/teachassist.JPG' %}" style="object-fit: cover;" alt="Image not found" onerror="this.onerror=null;this.src='{% static 'teach/images/no_image_available.PNG' %}';">
            </a>
          </div>

          <div class="columns">
            <div class="column">
              <a href="" target="_blank">
                <button class="button is-success is-fullwidth is-rounded is-outlined">
                  Video
                </button>
              </a>
            </div>
            <div class="column">
              <a href="" target="_blank">
                <button class="button is-success is-fullwidth is-rounded is-outlined">
                  GitHub
                </button>
              </a>
            </div>
            <div class="column">
              <a href="" target="_blank">
                <button class="button is-success is-fullwidth is-rounded is-outlined">
                  Check it out!
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-half"></div>
      <div class="column is-half"></div>

      <!--Contact List-->
      <div class="column is-half" id="contact_list">
        <div class="box alt-background-color">
          <div class="box main-background-color" align="center">
            <b class="is-capitalized project">
              Contact List
            </b> <br>
          </div>
          <div class="columns is-multiline">
            <a class="column is-half" href="http://teach-assist.com" target="_blank">
              <img class="square" src="{% static 'chucksite/images/teachassist.JPG' %}" style="object-fit: cover;" alt="Image not found" onerror="this.onerror=null;this.src='{% static 'teach/images/no_image_available.PNG' %}';">
            </a>
            <a class="column is-half" href="http://teach-assist.com" target="_blank">
              <img class="square" src="{% static 'chucksite/images/teachassist.JPG' %}" style="object-fit: cover;" alt="Image not found" onerror="this.onerror=null;this.src='{% static 'teach/images/no_image_available.PNG' %}';">
            </a>
            <a class="column is-half" href="http://teach-assist.com" target="_blank">
              <img class="square" src="{% static 'chucksite/images/teachassist.JPG' %}" style="object-fit: cover;" alt="Image not found" onerror="this.onerror=null;this.src='{% static 'teach/images/no_image_available.PNG' %}';">
            </a>
            <a class="column is-half" href="http://teach-assist.com" target="_blank">
              <img class="square" src="{% static 'chucksite/images/teachassist.JPG' %}" style="object-fit: cover;" alt="Image not found" onerror="this.onerror=null;this.src='{% static 'teach/images/no_image_available.PNG' %}';">
            </a>
          </div>

          <div class="columns">
            <div class="column">
              <a href="" target="_blank">
                <button class="button is-success is-fullwidth is-rounded is-outlined">
                  Video
                </button>
              </a>
            </div>
            <div class="column">
              <a href="" target="_blank">
                <button class="button is-success is-fullwidth is-rounded is-outlined">
                  GitHub
                </button>
              </a>
            </div>
            <div class="column">
              <a href="" target="_blank">
                <button class="button is-success is-fullwidth is-rounded is-outlined">
                  Check it out!
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!--Traveler-->
      <div class="column is-half" id="traveler">
        <div class="box alt-background-color">
          <div class="box main-background-color" align="center">
            <b class="is-capitalized project">
              Traveler
            </b> <br>
          </div>
          <div class="columns is-multiline">
            <a class="column is-half" href="http://teach-assist.com" target="_blank">
              <img class="square" src="{% static 'chucksite/images/teachassist.JPG' %}" style="object-fit: cover;" alt="Image not found" onerror="this.onerror=null;this.src='{% static 'teach/images/no_image_available.PNG' %}';">
            </a>
            <a class="column is-half" href="http://teach-assist.com" target="_blank">
              <img class="square" src="{% static 'chucksite/images/teachassist.JPG' %}" style="object-fit: cover;" alt="Image not found" onerror="this.onerror=null;this.src='{% static 'teach/images/no_image_available.PNG' %}';">
            </a>
            <a class="column is-half" href="http://teach-assist.com" target="_blank">
              <img class="square" src="{% static 'chucksite/images/teachassist.JPG' %}" style="object-fit: cover;" alt="Image not found" onerror="this.onerror=null;this.src='{% static 'teach/images/no_image_available.PNG' %}';">
            </a>
            <a class="column is-half" href="http://teach-assist.com" target="_blank">
              <img class="square" src="{% static 'chucksite/images/teachassist.JPG' %}" style="object-fit: cover;" alt="Image not found" onerror="this.onerror=null;this.src='{% static 'teach/images/no_image_available.PNG' %}';">
            </a>
          </div>

          <div class="columns">
            <div class="column">
              <a href="" target="_blank">
                <button class="button is-success is-fullwidth is-rounded is-outlined">
                  Video
                </button>
              </a>
            </div>
            <div class="column">
              <a href="" target="_blank">
                <button class="button is-success is-fullwidth is-rounded is-outlined">
                  GitHub
                </button>
              </a>
            </div>
            <div class="column">
              <a href="" target="_blank">
                <button class="button is-success is-fullwidth is-rounded is-outlined">
                  Check it out!
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="column is-section is-four-fifths" id="contact" style="margin-bottom: 2cm;">
  <div class="columns is-multiline">
    <p class="title column is-full has-text-centered">Contact</p>
    <div class="column is-one-quarter"></div>
    <p class="column is-half text is-size-5 has-text-justified">
      I am currently looking for new opportunities. I would like to
      learn new skills, work on a collaborative team, and enjoy the
      work I do. Feel free to contact me for other reasons, too!
    </p>
    <div class="column is-one-quarter"></div>
    <div class="column if-full">
      <div class="columns is-centered">
        <a class="button is-primary is-outlined" href="mailto:chuckthemole@gmail.com">Get in touch</a>
      </div>
    </div>
  </div>
</div>

<!--Cats-->
<div id="cats" style="margin-top: 6cm;">
  <div class="columns is-multiline">
    <p class="column is-full has-text-centered is-size-1 charles">Biscuit & Basil</p>
    <div class="column is half">
      <center>
        <figure class="image container is-256x256">
          <img class="rounds square" src="{% static 'chucksite/images/biscuit.JPG' %}" alt="biscuit" style="height: 420px">
        </figure>
      </center>
    </div>
    <div class="column is half">
      <center>
        <figure class="image container is-256x256">
          <img class="rounds square" src="{% static 'chucksite/images/basil.JPG' %}" alt="basil" style="height: 420px">
        </figure>
      </center>
    </div>
  </div>
</div>

<div class="column is-full"></div>



{% endblock content %}
