{% extends "chucksite/base.html" %}

{% block content %}

{% load static %}

<div class="columns is-vcentered main main-background-color" id="home">
  <div class="column is-full main-background-color">
    <div class="is-section">
      <p class="hello">
        Hello, my name is
      </p>
      <p class="charles">
        Charles Thomas.<br>
        I'm a student in Oakland, California<br>
      </p>
      <p class='about w3-animate-bottom' style="color:#cc00cc" style='font-family: helvetica'>
        currently pursuing my Master's in<br>
        Interdisciplinary Computer Science at <br>
        Mills College. My anticipated graduation <br>
        date is December of 2020.<br><br><br>
        <a class="button is-primary is-outlined" href="mailto:chuckthemole@gmail.com">Get in touch</a>

      </p>
      <p id="about" class='about w3-animate-bottom' style="color:#cc00cc" style='font-family: helvetica'>
      </p>
    </div>
  </div>
</div>


<div class="column is-section is-three-quarters" id="aboutme">
  <div class="columns is-multiline">
    <p class="title column is-full">About Me</p>
    <p class="column is-three-quarters">
      about me about me about asdfads faddfdfsdad fd adf a
      about me about me about asdfads faddfdfsdad fd adf a
      about me about me about asdfads faddfdfsdad fd adf a
      about me about me about asdfads faddfdfsdad fd adf a
      about me about me about asdfads faddfdfsdad fd adf a
      about me about me about asdfads faddfdfsdad fd adf a
      about me about me about asdfads faddfdfsdad fd adf a
      about me about me about asdfads faddfdfsdad fd adf a
    </p>
    <img class="rounds column is-one-quarter" src="{% static 'chucksite/images/chuckblackandwhite.JPG' %}" alt=" icon">
  </div>
</div>

<div class="column is-section is-three-quarters" id="experience">
  <div class="columns is-multiline">
    <p class="title column is-full">Experience</p>
    <p class="column is-three-quarters">
      about me about me about asdfads faddfdfsdad fd adf a
      about me about me about asdfads faddfdfsdad fd adf a
      about me about me about asdfads faddfdfsdad fd adf a
      about me about me about asdfads faddfdfsdad fd adf a
      about me about me about asdfads faddfdfsdad fd adf a
      about me about me about asdfads faddfdfsdad fd adf a
      about me about me about asdfads faddfdfsdad fd adf a
      about me about me about asdfads faddfdfsdad fd adf a
    </p>
    <img class="rounds column is-one-quarter" src="{% static 'chucksite/images/chuckblackandwhite.JPG' %}" alt=" icon">
  </div>
</div>

<div class="column is-section is-three-quarters" id="contact">
  <div class="columns is-multiline">
    <p class="title column is-full">Contact</p>
    <p class="column is-three-quarters">
      about me about me about asdfads faddfdfsdad fd adf a
      about me about me about asdfads faddfdfsdad fd adf a
      about me about me about asdfads faddfdfsdad fd adf a
      about me about me about asdfads faddfdfsdad fd adf a
      about me about me about asdfads faddfdfsdad fd adf a
      about me about me about asdfads faddfdfsdad fd adf a
      about me about me about asdfads faddfdfsdad fd adf a
      about me about me about asdfads faddfdfsdad fd adf a
    </p>
    <img class="rounds column is-one-quarter" src="{% static 'chucksite/images/chuckblackandwhite.JPG' %}" alt=" icon">
  </div>
</div>

<div class="column is-section is-three-quarters" id="projects">
  <div class="columns is-multiline">
    <p class="title column is-full">Projects</p>
    <p class="column is-three-quarters">
      about me about me about asdfads faddfdfsdad fd adf a
      about me about me about asdfads faddfdfsdad fd adf a
      about me about me about asdfads faddfdfsdad fd adf a
      about me about me about asdfads faddfdfsdad fd adf a
      about me about me about asdfads faddfdfsdad fd adf a
      about me about me about asdfads faddfdfsdad fd adf a
      about me about me about asdfads faddfdfsdad fd adf a
      about me about me about asdfads faddfdfsdad fd adf a
    </p>
    <img class="rounds column is-one-quarter" src="{% static 'chucksite/images/chuckblackandwhite.JPG' %}" alt=" icon">
  </div>
</div>

{% endblock content %}
