{% load static %}

<!DOCTYPE html>
<head lang="en">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Charles Pikaart Thomas</title>
    <link rel="stylesheet" href="{% static 'chucksite/css/chuck-styles.css' %}" />
    <link rel="stylesheet" href="{% static 'chucksite/css/main.css' %}" />
    <!-- <link rel="stylesheet" href="//cdn.quilljs.com/1.3.6/quill.snow.css"> -->
</head>

<body class="m-0">
    <div id="root"></div>
    <script src="{% static 'chucksite/js/quill.bundle.js' %}"></script> <!-- keep this at bottom of body -->
    <script src="{% static 'chucksite/js/app.bundle.js' %}"></script> <!-- keep this at bottom of body -->
</body>

</html>