{% block intro %}

{% load static %}

{% if not request.user_agent.is_mobile %}
<div class="columns main main-background-color is-centered is-vcentered" style="margin-top: -6cm;">
  <div class="column is-four-fifths main-background-color">
    <div class="is-section">
      <p class="hello medium-text">
        Hello, my name is
      </p>
      <p class="charles large-text">
        Charles Thomas.<br>
      </p>
      <p class='about medium-text has-text-justified' style="color:#cc00cc" style='font-family: helvetica'>
        I'm a software developer based in Oakland, California and
        a recent graduate of Mills College earning a master's degree
        in Interdisciplinary Computer Science. Currently, I am seeking
        a software engineering position to utilize my programming,
        debugging, and problem solving skills. <br><br><br>
        <a class="button is-primary is-outlined" href="mailto:chuckthemole@gmail.com">Get in touch</a>
      </p>
    </div>
  </div>
</div>

{% else %}

<div class="columns main main-background-color is-mobile is-centered is-vcentered" style="margin-top: 5cm;">
  <div class="column is-four-fifths main-background-color">
    <div class="is-section-mobile">
      <p class="hello medium-text-mobile">
        Hello, my name is
      </p>
      <p class="charles large-text-mobile">
        Charles Thomas.<br>
      </p>
      <p class='about medium-text-mobile has-text-justified' style="color:#cc00cc" style='font-family: helvetica'>
        I'm a software developer based in Oakland, California and
        a recent graduate of Mills College earning a master's degree
        in Interdisciplinary Computer Science. Currently, I am seeking
        a software engineering position to utilize my programming,
        debugging, and problem solving skills. <br><br><br>
        <a class="button is-primary is-outlined" href="mailto:chuckthemole@gmail.com">Get in touch</a>
      </p>
    </div>
  </div>
</div>

{% endif %}

{% endblock intro %}
