{% extends "chucksite/base.html" %}

{% block content %}

{% load static %}

<div style="margin: auto" class="tile is-8 is-parent">
  <div class="tile is-child box" style="background-color:#fce8fa">
    <p>
      <div class="grid-cont" style="background-color:pink">

        <div>
          <center>
            <br>
            <u><b>Find the Rock</b></u>: This is an app in development. Users can create locations for a variety of sports, sharing those locations with other users.
            <p> <a class="headerButton" href="http://www.therock.charles-pikaart-thomas.com" target="_blank">The Rock</a> </p>
            <br><br>
            <u><b>Klotski</b></u>: This is a game of Klotski written in Java and using JavaFX.
            <br>The goal of the game is to get the big block out of the bottom gate.
            <p> <a class="headerButton" href="{% url 'chucksite:klotski' %}">Klotski</a> </p>
            <br><br>
            <u><b>Contact List</b></u>: This is a program to store contacts' names and numbers implemented with Java.
            <p> <a class="headerButton" href="{% static 'chucksite/projects/ContactList.zip' %}" download>Contact List</a> </p>
            <br><br>
            <u><b>Traveler</b></u>: This is an app in development. It is used to help people find destinations while traveling.
            <p> <a class="headerButton" href="https://traveler-final-project.herokuapp.com/" target="_blank">Traveler</a> </p>
            <br>
          </center>
        </div>
      </div>
    </p>
  </div>
</div>

<div> <p>
<APPLET ARCHIVE="contactList.jar" CODE="ContactList.class" WIDTH=400 HEIGHT=200>
</APPLET>
</p>
</div>

{% endblock content %}
