{% block find_the_rock %}

{% load static %}

<div class="column is-four-fifths">
  <div class="columns is-multiline fade-in" id="experience_details">
    <span class="column is-full charles small-text-mobile" style="white-space: no-wrap;">
      Full-Stack Software Developer at Find The Rock
    </span>
    <div class="column is-full text small-text-mobile">
      <li class="wrap bullet_list">
        Developed and shipped an interactive web application allowing people to find nearby sports.
      </li>
      <br>
      <li class="wrap bullet_list">
        Integrated Google Maps API, created AWS S3 buckets for dynamic image storage, and deployed using Heroku.
      </li>
    </div>
  </div>
</div>

{% endblock find_the_rock %}
