{% block traveler_selected %}

{% if request.user_agent.is_mobile %}
<a class="column is-one-fifth" onclick="teach_assist()">
  <div class="text small-text-mobile">Teach Assist</div>
</a>
<a class="column is-one-fifth" onclick="find_the_rock()">
  <div class="text small-text-mobile">Find The Rock</div>
</a>
<a class="column is-one-fifth" onclick="klotski()">
  <div class="text small-text-mobile">Klotski</div>
</a>
<a class="column is-one-fifth is-active">
  <div class="selected small-text-mobile">Traveler</div>
</a>
<a class="column is-one-fifth" onclick="skyline()">
  <div class="text small-text-mobile">Skyline HS</div>
</a>

{% else %}

<a class="column is-full" onclick="teach_assist()">
  <div class="text small-text">Teach Assist</div>
</a>
<a class="column is-full" onclick="find_the_rock()">
  <div class="text small-text">Find The Rock</div>
</a>
<a class="column is-full" onclick="klotski()">
  <div class="text small-text">Klotski</div>
</a>
<a class="column is-full is-active">
  <div class="selected small-text">Traveler</div>
</a>
<a class="column is-full" onclick="skyline()">
  <div class="text small-text">Skyline HS</div>
</a>

{% endif %}

{% endblock traveler_selected %}
<!--https://bulma.io/documentation/components/menu/-->
