{% block contact_list %}

{% load static %}

<!--Contact List-->
<div class="column is-half" id="contact_list">
  <div class="columns">
    <div class="column is-three-fifths" style="position: absolute;">
      <a href="{% static 'chucksite/projects/ContactList.zip' %}" download>
        <figure class="">
          <img class="project-img" src="{% static 'chucksite/images/ContactList.PNG' %}" alt="Image not found">
        </figure>
      </a>
    </div>
  </div>
</div>

<div class="column box alt-background-color text is-size-6 has-text-justified shadow" style="margin-bottom: 10cm; margin-top: 2cm;">
  <div class="columns is-multiline is-mobile">
    <div class="column is-full">
      <div class="columns is-centered project">
        Contact List
      </div>
    </div>
    <div class="column is-full">
      {% if request.user_agent.is_mobile %}
      <p class="small-text">
        {% else %}
      <p>
        {% endif %}
        Keep track of contacts using a contact list. Add names and numbers to the list, look up by name or number, and delete old contacts.
      </p>
    </div>
    <div class="column is-one-third">
      <a href="{% static 'chucksite/projects/ContactList.zip' %}" download>
        <figure class="image container is-32x32">
          <img class="imgShake" src="{% static 'chucksite/images/link.PNG' %}" alt="link">
        </figure>
      </a>
    </div>
    <div class="column is-one-third">
      <a href="https://youtube.com" target="_blank">
        {% if request.user_agent.is_mobile %}
        <figure class="image container">
          {% else %}
          <figure class="image container is-96x96">
            {% endif %}
            <img class="imgShake" src="{% static 'chucksite/images/youtube.PNG' %}" alt="youtube">
          </figure>
      </a>
    </div>
    <div class="column is-one-third">
      <a href="https://github.com/chuckthemole/" target="_blank" style="justify-content: center;">
        <figure class="image container is-32x32">
          <img class="imgShake" src="{% static 'chucksite/images/github_icon.PNG' %}" alt="github">
        </figure>
      </a>
    </div>
  </div>
</div>

{% endblock contact_list %}
