{% block teach_assist %}

{% load static %}

<!--Teach Assist-->
<div class="column is-half" id="teach_assist">
  <div class="columns">
    <div class="column is-three-fifths" style="position: absolute;">
      <a href="http://teach-assist.com" target="_blank">
        <figure class="">
          <img class="project-img" src="{% static 'chucksite/images/teachassist.JPG' %}" alt="Image not found">
        </figure>
      </a>
    </div>
  </div>
</div>

<div class="column box alt-background-color text is-size-6 has-text-justified shadow" style="margin-bottom: 10cm; margin-top: 2cm;">
  <div class="columns is-multiline is-mobile">
    <div class="column is-full">
      <div class="columns is-centered project is-mobile">
        Teach Assist
      </div>
    </div>
    <div class="column is-full">
      {% if request.user_agent.is_mobile %}
      <p class="small-text-mobile">
        {% else %}
      <p>
        {% endif %}
        Teachers need easy ways to find resources for the classroom, be able to assess their students quickly, and find ways to engage their classroom.
        With Teach Assist teachers are able to create quizzes for their students, share engaging games with their classroom, and connect with a network of other teachers.
      </p>
    </div>
    {% if request.user_agent.is_mobile %}
    <div class="column is-one-third">
      <a href="http://teach-assist.com" target="_blank">
        <figure class="image container is-32x32">
          <img class="imgShake" src="{% static 'chucksite/images/link.PNG' %}" alt="link">
        </figure>
      </a>
    </div>
    <div class="column is-one-third">
      <a href="https://youtube.com" target="_blank">
        <figure class="image container is-32x32">
          <img class="imgShake" src="{% static 'chucksite/images/youtube.PNG' %}" alt="youtube">
        </figure>
      </a>
    </div>
    <div class="column is-one-third">
      <a href="https://github.com/chuckthemole/TeachAssist" target="_blank" style="justify-content: center;">
        <figure class="image container is-32x32">
          <img class="imgShake" src="{% static 'chucksite/images/github_icon.PNG' %}" alt="github">
        </figure>
      </a>
    </div>
    {% else %}
    <div class="column is-one-third">
      <a href="http://teach-assist.com" target="_blank">
        <figure class="image container is-64x64">
          <img class="imgShake" src="{% static 'chucksite/images/link.PNG' %}" alt="link">
        </figure>
      </a>
    </div>
    <div class="column is-one-third">
      <a href="https://youtube.com" target="_blank">
        <figure class="image container is-64x64">
          <img class="imgShake" src="{% static 'chucksite/images/youtube.PNG' %}" alt="youtube">
        </figure>
      </a>
    </div>
    <div class="column is-one-third">
      <a href="https://github.com/chuckthemole/TeachAssist" target="_blank" style="justify-content: center;">
        <figure class="image container is-64x64">
          <img class="imgShake" src="{% static 'chucksite/images/github_icon.PNG' %}" alt="github">
        </figure>
      </a>
    </div>
    {% endif %}
  </div>
</div>

{% endblock teach_assist %}
