{% block traveler %}

{% load static %}

<!--Traveler-->
<div class="column is-half" id="t">
  <div class="columns">
    <div class="column is-three-fifths" style="position: absolute;">
      <a href="https://traveler-final-project.herokuapp.com" target="_blank">
        <figure class="">
          <img class="project-img" src="{% static 'chucksite/images/traveler.PNG' %}" alt="Image not found">
        </figure>
      </a>
    </div>
  </div>
</div>

<div class="column box alt-background-color text is-size-6 has-text-justified shadow" style="margin-bottom: 10cm; margin-top: 2cm;">
  <div class="columns is-multiline is-mobile">
    <div class="column is-full">
      <div class="columns is-centered project is-mobile">
        Traveler
      </div>
    </div>
    <div class="column is-full">
      {% if request.user_agent.is_mobile %}
      <p class="small-text-mobile">
        {% else %}
      <p>
        {% endif %}
        Traveler helps people find interesting places to visit on their travels. Users can sign up as a local or traveler. Give others help finding fun destinations.
      </p>
    </div>
    {% if request.user_agent.is_mobile %}
    <div class="column is-one-third">
      <a href="https://traveler-final-project.herokuapp.com" target="_blank">
        <figure class="image container is-32x32">
          <img class="imgShake" src="{% static 'chucksite/images/link.PNG' %}" alt="link">
        </figure>
      </a>
    </div>
    <div class="column is-one-third">
      <a href="https://youtube.com" target="_blank">
        <figure class="image container is-32x32">
          <img class="imgShake" src="{% static 'chucksite/images/youtube.PNG' %}" alt="youtube">
        </figure>
      </a>
    </div>
    <div class="column is-one-third">
      <a href="https://github.com/chuckthemole/traveler_software_engineering" target="_blank" style="justify-content: center;">
        <figure class="image container is-32x32">
          <img class="imgShake" src="{% static 'chucksite/images/github_icon.PNG' %}" alt="github">
        </figure>
      </a>
    </div>
    {% else %}
    <div class="column is-one-third">
      <a href="https://traveler-final-project.herokuapp.com" target="_blank">
        <figure class="image container is-64x64">
          <img class="imgShake" src="{% static 'chucksite/images/link.PNG' %}" alt="link">
        </figure>
      </a>
    </div>
    <div class="column is-one-third">
      <a href="https://youtu.be/r0LfzSRtjVc" target="_blank">
        <figure class="image container is-64x64">
          <img class="imgShake" src="{% static 'chucksite/images/youtube.PNG' %}" alt="youtube">
        </figure>
      </a>
    </div>
    <div class="column is-one-third">
      <a href="https://github.com/chuckthemole/traveler_software_engineering" target="_blank" style="justify-content: center;">
        <figure class="image container is-64x64">
          <img class="imgShake" src="{% static 'chucksite/images/github_icon.PNG' %}" alt="github">
        </figure>
      </a>
    </div>
    {% endif %}
  </div>
</div>

{% endblock traveler %}
