/* @import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"; */

/*
Trying to hide nav bar on scroll
https://www.w3schools.com/howto/howto_js_navbar_hide_scroll.asp
*/
/* .navbar {
    position: fixed;
    transition: top 0.3s;
} */

.quill-editor {
    width: 80%;
    height: 80%;
    border-style: solid;
    border-width: .5px;
    border-color: black;
    margin-left: 5px;
    padding-bottom: 40px;
    background-color: white;
}

/* The Close Button */ 
.close {   
    color: #aaaaaa;   
    float: right;   
    font-size: 28px;   
    font-weight: bold; 
}

.close:hover, .close:focus {   
    color: #000;   
    text-decoration: none;   
    cursor: pointer; 
} 