.main-background-color {
  background-color: #CCEEFA;
}

.alt-background-color {
  background-color: #A9EAF7;
}

#navbar {
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

.project {
  font-family: helvetica;
  color: #da7fec;
  text-align: left;
  font-size: 30px;
  grid-row-start: 2;
  grid-row-end: 2;
  position: relative;
}

.my-footer {
  font-family: helvetica;
  color: #da7fec;
  grid-row-start: 2;
  grid-row-end: 2;
  position: relative;
  border-style: dotted;
  border-color: #e8adf4;
}

.my-footer:hover {
  color: #e8adf4;
  border-color: #da7fec;
}

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 25%;
  height: 25vh;
  padding: 40px;
  padding-top: 80px;
}

.title {
  font-family: helvetica;
  color: #da7fec;
  text-align: left;
  font-size: 50px;
  grid-row-start: 2;
  grid-row-end: 2;
  position: relative;
}

.is-section {
  padding-top: 70px;
  padding-left: 100px;
}

.main {
  height: 100vh;
}

html {
  scroll-behavior: smooth;
}

/*Added CSS code Charles Thomas*/
/*******Ctr F5 for refresh******/

.hello {
  font-family: helvetica;
  color: #e8adf4;
  text-align: left;
  font-size: 30px;
  grid-row-start: 1;
  grid-row-end: 1;
  position: relative;
}

.charles {
  font-family: helvetica;
  color: #da7fec;
  text-align: left;
  font-size: 80px;
  grid-row-start: 2;
  grid-row-end: 2;
  position: relative;
}

.i_like_to_build {
  font-family: helvetica;
  color: #b05bc1;
  text-align: left;
  font-size: 90px;
  grid-row-start: 2;
  grid-row-end: 2;
  position: relative;
}

.about {
  font-family: helvetica;
  color: #cc00cc;
  text-align: left;
  font-size: 30px;
  grid-row-start: 1;
  grid-row-end: 1;
  position: relative;
}

.email {
  font-family: helvetica;
  color: #da7fec;
  grid-row-start: 2;
  grid-row-end: 2;
  position: relative;
  writing-mode: vertical-rl;
}

.email:hover {
  color: #e8adf4;
}

.my-navbar-item:hover {
  color: #e8adf4;
}

.body {
  height: 100%;
  width: 100%;
  background-color:red;
}

.rounds {
  border-radius: 10%;
  padding: 15px;
}

.imgShake:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/*name and about me*/
.grid-cont {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.headerButton {
  background-color: #f44336;
  color: white;
  padding: 15px 37px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}

.headerButton:link, .headerButton:visited {
  background-color: #f44336;
  color: white;
  padding: 15px 37px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}

.headerButton:hover, .headerButton:active {
  background-color: blue;
}

.resume {
  height: 50%;
  width: 50%;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 150px;
  align-items: center;
}
